.nav-bar ul {
  /* list style: bor daus chaam cuar ther ul,li */
  list-style: none;
  flex-direction: row;
  padding: 0;
  width: 100%;
  list-style: none;
}

.nav-bar ul li {
  width: 16.5%;
}

@media screen and (max-width: 645px) {
  .search-form {
    display: none;
  }
}
