* {
    margin: 0;
    padding: 0;
}

.nen {
    padding-top: 70px;
    height: 650px;
    float: right;
    margin: 10px;
}

body {
    background-color: #fafafa!important;
}

.right {
    height: auto;
    float: left;
    max-width: 350px;
    width: 100%;
    height: auto;
    margin: 100px auto;
}

.top,
.signup {
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    padding: 40px 40px 20px;
}

.right .logo img {
    display: block;
    margin: 0 auto 35px;
}

.right .form .input_field {
    margin-bottom: 5px;
}

.right .form .input_field .input {
    width: 100%;
    background: #fafafa;
    border: 1px solid #efefef;
    font-size: 12px;
    border-radius: 3px;
    color: #262626;
    padding: 10px;
}

.right .form .input_field .input:focus {
    border: 1px solid #b2b2b2;
}

.right .form .btn {
    margin: 10px 0;
    background-color: #3897f0;
    border: 1px solid #3897f0;
    border-radius: 4px;
    text-align: center;
    padding: 5px;
}

.right .form .btn a {
    color: #fff;
    display: block;
    text-decoration: none;
}

.right .or {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15px;
    margin: 15px 0 20px;
}

.right .or .line {
    width: 105px;
    height: 2px;
    background: #efefef
}

.right .or p {
    color: #999;
    font-size: 12px;
}

.right .dif .fb {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right .dif .fb img {
    width: 16px;
    height: 16px;
}

.right .dif .fb p {
    color: #385185;
    font-weight: 500;
    margin-left: 10px;
}

.right .dif .forgot {
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
}

.right .dif .forgot a {
    color: #003569;
    text-decoration: none;
}

.right .signup {
    margin: 10px 0 20px;
    padding: 25px 40px;
    text-align: center;
    color: #262626;
}

.right .signup a {
    color: #3897f0;
    text-decoration: none;
}

.right .apps {
    text-align: center;
    color: #262626;
}

.right .apps p {
    margin-bottom: 20px;
}

.right .apps a img {
    width: 135px;
    height: 40px;
    margin: 0 5px;
}

footer .container .row ul li a {
    color: #003569;
    font-size: 12px;
    text-decoration: none;
}